html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #FF805D;
}

.main-box {
  width: 100%;
  height: 200px;
  background-color: rgb(62, 166, 201);
  display: flex;
  margin: 100px auto;
}

.slider {
  width: "";
  height: 200px;
  background-color: white;
  margin-right: 1px;
  display: flex;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition-property: all;
  transition-duration: 1s;
}
.slider .info {
  width: 0px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  display: block;
  overflow: hidden;
  left: 75px;
  z-index: 99;
  transition-property: width;
  transition-duration: 1s;
}
.slider .info h2 {
  display: block;
  margin: 30px 0px 10px 20px;
  font-size: 50px;
  font-family: Calibri, sans-serif;
  font-weight: 800;
}
.slider .info p {
  display: block;
  margin: 10px 0 0 20px;
  width: 260px;
  height: 200px;
  background-color: none;
  font-family: Calibri, sans-serif;
  font-weight: 800;
}
.slider:hover .info {
  width: 300px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  display: block;
  overflow: hidden;
}
.slider .small-img {
  width: 75px;
  height: 200px;
  background-color: rgb(73, 155, 199);
  display: block;
  position: relative;
  transition-property: width;
  transition-duration: 1s;
}
.slider:hover .small-img {
  width: 0px;
  height: 200px;
  background-color: rgb(73, 155, 199);
  cursor: pointer;
  display: absolute;
}
.slider .big-img {
  width: 0px;
  height: 200px;
  background-color: none;
  display: block;
  position: relative;
  overflow: hidden;
  transition-property: width;
  transition-duration: 1s;
}
.slider:hover .big-img {
  width: 75px;
  height: 200px;
  background-color: none;
  cursor: pointer;
  display: absolute;
}
.slider .twitter-img {
  background-image: url("img/twitter.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .twitter-big-img {
  background-color: rgb(21, 199, 208);
  background-image: url("img/twitter.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .facebook-img {
  background-image: url("img/facebook.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .facebook-big-img {
  background-color: rgb(12, 36, 103);
  background-image: url("img/facebook.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .linkedin-img {
  background-image: url("img/linkedin.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .linkedin-big-img {
  background-color: rgb(23, 78, 229);
  background-image: url("img/linkedin.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .instagram-img {
  background-image: url("img/instagram.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .instagram-big-img {
  background-color: rgb(119, 166, 168);
  background-image: url("img/instagram.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .youtube-img {
  background-image: url("img/youtube.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .youtube-big-img {
  background-color: rgb(205, 15, 15);
  background-image: url("img/youtube.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .tumblr-img {
  background-image: url("img/tumblr.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .tumblr-big-img {
  background-color: rgb(62, 68, 98);
  background-image: url("img/tumblr.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .dribbble-img {
  background-image: url("img/dribble.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .dribbble-big-img {
  background-color: rgb(208, 54, 152);
  background-image: url("img/dribble.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=main.css.map */